.maim-container{
    max-width: 1500px;
    background-color: aqua;
    margin: 0 auto;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    color: blueviolet;
    text-align: center;
}
li{
    list-style-type: none;
}
.menu{

}